html,body{
	width: 100%;
	height: 100%;
	background-image: url('../img/header.jpg');
	background-size: cover;
	background-attachment: fixed;
}
::-webkit-scrollbar { 
    display: none; 
}

footer.page-footer{
	margin-top: 0;
	background-color: #434343;
}

.small{
	font-size: 0.9em;
}

section{
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	margin: 0;
}
section#s1{
	text-align: center;
	position: relative;
	height: 90%;
}
section#s2{
	width: 100%;
	background-color: #eee;
	height: auto;
}
section#s3{
	background-color: #fff;
	height: auto;
}

div.header-btn{
	padding: 30px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}
div.header-btn a{
	color: #eee;
	text-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
}

div#newsletter{
	padding: 1%;
	display: fixed;
	position: fixed;
	width: 25%;
	background-color: #e3f2fd;
	right: 3%;
	bottom: 5%;
	-webkit-box-shadow: 10px 10px 43px -2px rgba(133,133,133,1);
	-moz-box-shadow: 10px 10px 43px -2px rgba(133,133,133,1);
	box-shadow: 10px 10px 43px -2px rgba(133,133,133,1);
}

div.row-item{
	padding: 20px;
	margin-bottom: 20px;
}

div.row-header{
	vertical-align:middle;
	text-align: center;
}


@media screen and (max-width: 750px) {
    div#newsletter{
    	width: 90%;
    }
}