<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Boneato App</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>

		


		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<!-- Angular Material requires Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

	  	<!-- Angular Material Library -->
	  	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
   		
   		<!-- Angular Routes Module -->
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script> 

	    <script src="app.module.js"></script>
	    <script src="directives.js"></script>
	    <script src="IndexController.js"></script>



	    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	    <!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

	    <!-- Compiled and minified JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</head>
<body ng-app="app" ng-controller="IndexController" >
	
	<!-- Login Form -->
	<div ng-hide="login" layout="row" layout-align="center center" ng-cloak> 
		<div class="col s12 m5">
			<div class="card-panel teal">
		  		<span class="white-text">
		  			<h2>Bonissimo Login</h2>
		  	    	<div class="row">
		  	        	<div class="input-field col s12">
		  	          		<input id="email" type="email" class="validate">
		  	          		<label for="email">Email</label>
		  	        	</div>
		      		</div>
		  			<div class="row">
		  		        <div class="input-field col s12">
		  		        	<input id="password" type="password" class="validate">
		  		          	<label for="password">Password</label>
		  		        </div>
		  		    </div>
		  		    <div class="row">
		  		    	<md-button ng-href="{{googleUrl}}" target="_blank">Login</md-button>
		  		    	<md-button ng-href="{{googleUrl}}" target="_blank">Registrati</md-button>
		  		    </div>   
		  		</span>
			</div>
		</div>
	</div>

	<!-- SideNav Layout -->
	<div ng-show="login" layout="column" style="height:100%;" ng-cloak>
		    <section layout="row" flex>

		        <md-sidenav
		            class="md-sidenav-left"
		            md-component-id="left"
		            md-is-locked-open="$mdMedia('gt-md')"
		            md-whiteframe="4"
		            md-swipe-left="onSwipeLeft()">

		          	<md-toolbar class="md-theme-indigo">
		            	<h1 class="md-toolbar-tools">Nome Utente</h1>
		          	</md-toolbar>

		          	<md-content layout-padding >


						<md-button class="md-primary" hide-gt-md>
						Close Sidenav Left
						</md-button>

						<div address-field></div>


		          	</md-content>
		        </md-sidenav>

		        <md-content flex layout-padding>

		          <div layout="column" layout-align="top center">
		            
		            <p>Main content div</p>

		            <div>
		              <md-button ng-click="toggleLeft()"
		                class="md-primary" hide-gt-md>
		                Toggle left
		              </md-button>
		            </div>

		            
		          </div>

		          <div flex></div>

		        </md-content>

		        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

		          <md-toolbar class="md-theme-light">
		            <h1 class="md-toolbar-tools">Sidenav Right</h1>
		          </md-toolbar>
		          <md-content layout-padding>
		            <form>
		              <md-input-container>
		                <label for="testInput">Test input</label>
		                <input type="text" id="testInput"
		                       ng-model="data" md-autofocus>
		              </md-input-container>
		            </form>
		            <md-button ng-click="close()" class="md-primary">
		              Close Sidenav Right
		            </md-button>
		          </md-content>

		        </md-sidenav>

		      </section>


		    <div ng-view>

		    </div>
		</md-content>
	</div>
</body>
</html>